<h1 class="text-center">Здравствуйте, администратор</h1>
<div class="form-group w-50 mx-auto">
    <h2 class="text-center">Правила игры</h2>
    <p>Участники являются представителями компаний, который действуют на отпределенном рынке.<br>
    У каждого участника есть месячный бюджет на продвижение, который он может распределять по инструментам ИМ.
    Применение каждого инструмента приводит к тому, что показатели ИМ меняются либо в этом месяце, либо в последующие.</p>
  <form [formGroup]="NewGameForm" (ngSubmit)="onNewGameFormSubmit()">
    <label for="months" class="mt-3">Количество месяцев игры:</label>
    <select formControlName="gameMoths" class="form-control" id="months">
      <option>3</option>
      <option>6</option>
      <option>9</option>
      <option>12</option>
    </select>
    <label for="monthsBudget" class="mt-3">Месячный бюджет каждого игрока:</label>
    <input formControlName="monthBudget" autocomplete="off" type="text" class="form-control" id="monthsBudget" placeholder="Укажите сумму месячного бюджета в рублях">
      <button [routerLink]="'./players'" type="submit" 
      class="btn btn-primary mt-3" [disabled]="!NewGameForm.valid">Далее</button>
  </form>
</div>