<h1 class="text-center"><span class="shadowbox bg-white rounded p-2">Информация о "{{scenario.scenarioname}}"</span></h1>
<p>
<div class="container w-50">
  <div class="col border bg-white shadowbox rounded">
    <div class="row border-bottom p-2">
      <h3 class="font-weight-bold">Трафик на сайт:</h3>
    </div>
    <div class="row">
      <div class="col-7 border-right pt-2">
        <p class="font-weight-bold" style="font-size: 20px">Органика:</p>
      </div>
      <div class="col pt-2">
        <p style="font-size: 20px">{{scenario.tOrganic}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Реклама контекстная:</p>
      </div>
      <div class="col">
        <p style="font-size: 20px">{{scenario.tReklamaCont}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Реклама по социальным сетям:</p>
      </div>
      <div class="col">
          <p style="font-size: 20px">{{scenario.tReklamaSocial}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Социальные медиа:</p>
      </div>
      <div class="col">
          <p style="font-size: 20px">{{scenario.tSocialMedia}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Прямой заход:</p>
      </div>
      <div class="col">
          <p style="font-size: 20px">{{scenario.tDirectEntry}} руб.</p>
      </div>
    </div>
    <div class="row border-bottom p-2 border-top">
      <h3 class="font-weight-bold">Конверсия в звонки:</h3>
    </div>
    <div class="row">
      <div class="col-7 border-right pt-2">
        <p class="font-weight-bold" style="font-size: 20px">Органика:</p>
      </div>
      <div class="col pt-2">
        <p style="font-size: 20px">{{scenario.zOrganic}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Реклама контекстная:</p>
      </div>
      <div class="col">
        <p style="font-size: 20px">{{scenario.zReklamaCont}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Реклама по социальным сетям:</p>
      </div>
      <div class="col">
          <p style="font-size: 20px">{{scenario.zReklamaSocial}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Социальные медиа:</p>
      </div>
      <div class="col">
          <p style="font-size: 20px">{{scenario.zSocialMedia}} руб.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7 border-right">
        <p class="font-weight-bold" style="font-size: 20px">Прямой заход:</p>
      </div>
      <div class="col">
          <p style="font-size: 20px">{{scenario.zDirectEntry}} руб.</p>
      </div>
    </div>
    <div class="row border-top">
        <div class="col-7 border-right">
            <h3 class="font-weight-bold pt-2">Всего клиентов:</h3>
          </div>
          <div class="col pt-3">
              <p style="font-size: 20px">{{scenario.totalClients}}</p>
          </div>
    </div>
    <div class="row border-top">
        <div class="col-7 border-right">
            <h3 class="font-weight-bold pt-2">Средний чек:</h3>
          </div>
          <div class="col pt-3">
              <p style="font-size: 20px">{{scenario.avgCheck}} руб.</p>
          </div>
    </div>
    <div class="row border-top">
        <div class="col-7 border-right">
            <h5 class="font-weight-bold pt-2">Реальная стоимость привлечения одного клиента:</h5>
          </div>
          <div class="col pt-4">
              <p style="font-size: 20px">{{scenario.realCost}} руб.</p>
          </div>
    </div>
    <div class="row border-top">
        <div class="col-7 border-right">
            <h5 class="font-weight-bold pt-2">Предельная стоимость привлечения одного клиента:</h5>
          </div>
          <div class="col pt-4">
              <p style="font-size: 20px">{{scenario.predelCost}} руб.</p>
          </div>
    </div>
    <div class="row border-top">
        <div class="col-7 border-right">
            <h5 class="font-weight-bold pt-3">Товарооборот:</h5>
          </div>
          <div class="col pt-3">
              <p style="font-size: 20px">{{scenario.turnover}} руб.</p>
          </div>
    </div>
  </div>
  <p class="psubmit"><a type="text" class="btn btn-success" [routerLink]="'..'">Вернуться к выбору сценария</a></p>
</div>